In [11]:
import pandas as pd
import numpy as np
import numpy.core.defchararray as npd
pd.set_option('display.max_column',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',1000000)

In [12]:
yi_data = pd.read_csv("/Users/johnwang/OneLegacy/One_Legacy/est_data_1h_v3.csv", low_memory = False)

In [13]:
yi_data.head()

,Unnamed: 0,donor_index,time_index,cross_clamp,HR_available,LU_available,LI_available,HR_allocated,LU_allocated,LI_allocated,category,total_available,total_allocated,male,age,abo_o,kdpi,pf_ratio,donor_id,time_in_minutes,allocated_organs,available_organs,HR_allocated_now,LU_allocated_now,LI_allocated_now
0,0,1,1,0,1,2,1,0,0,0,1,4,0,0,44.5,1,25,560,AGC1095,0,set(),['HL' 'IN' 'LI' 'LU'],0,0,0
1,1,1,2,0,1,2,1,0,0,0,1,4,0,0,44.5,1,25,560,AGC1095,60,set(),['HL' 'IN' 'LI' 'LU'],0,0,0
2,2,1,3,0,1,2,1,0,0,0,1,4,0,0,44.5,1,25,560,AGC1095,120,set(),['HL' 'IN' 'LI' 'LU'],0,0,0
3,3,1,4,0,1,2,1,0,0,0,1,4,0,0,44.5,1,25,560,AGC1095,180,set(),['HL' 'IN' 'LI' 'LU'],0,0,0
4,4,1,5,0,1,2,1,0,0,0,1,4,0,0,44.5,1,25,560,AGC1095,240,set(),['HL' 'IN' 'LI' 'LU'],0,0,0

In [14]:
Liver_avail = yi_data.loc[(yi_data.LI_available == 1) & (yi_data.LI_allocated == 0), :]

In [20]:
test = yi_data[["donor_index", "LI_allocated"]]

In [21]:
test = test.drop_duplicates()

In [16]:
Liver_avail.loc[,"LI_allocated_now"].sum()

174

In [17]:
Liver_avail.count()

Unnamed: 0          4163
donor_index         4163
time_index          4163
cross_clamp         4163
HR_available        4163
LU_available        4163
LI_available        4163
HR_allocated        4163
LU_allocated        4163
LI_allocated        4163
category            4163
total_available     4163
total_allocated     4163
male                4163
age                 4163
abo_o               4163
kdpi                4163
pf_ratio            4163
donor_id            4163
time_in_minutes     4163
allocated_organs    4163
available_organs    4163
HR_allocated_now    4163
LU_allocated_now    4163
LI_allocated_now    4163
dtype: int64

In [18]:
174/4163

0.041796781167427334